<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/job_posting_detail.css">
    
</head>
<body>
    <div class="content d-flex">
        <div class="job d-flex">
            <div class="company d-flex flex-column">
                <img src="/src/public/img/Logo/Company_Aeon.svg" alt="logo" 
                class="company-logo align-self-center">
                <div class="company-name align-self-center">
                    Aeon Viet Nam
                </div>
                <div class="company-details">
                    AEON hiện là một trong những tập đoàn thương mại bán lẻ lớn nhất trên thế giới với 179 liên doanh trong và ngoài nước Nhật Bản. Được thành lập từ năm 1758, với lịch sử trải dài trên 250 năm, Tập đoàn AEON là một trong những nhà bán lẻ lâu đời nhất tại Nhật Bản. Hơn 29 năm qua, Tập đoàn AEON đã thành lập và vận hành nhiều chi nhánh kinh doanh tại Nhật Bản và nhiều nước như Malaysia, Thái Lan, Hồng Kông, Trung Quốc, Việt Nam, Indonesia, Lào, Myanmar, Kazakhstan, Hàn Quốc, Philippines, Ấn Độ, Cam-pu-chia.
                </div>
                <div class="company-infor">
                    Information
                    <div class="email">
                        Email: 123@gmail.com
                    </div>
                    <div class="phone">
                        Phone Number: 1289756345
                    </div>
                </div>
            </div>
            <div class="detail_job">
                {{!-- <div class="author d-flex align-items-end">
                    <img src="/src/public/img/Logo/Company_Aeon.svg" alt="logo"
                    class="author-ava mr-2">
                    <div class="d-flex flex-column">
                        <div class="name">
                            Thu Hang Nguyen
                        </div>
                        <div class="time d-flex align-items-center">
                            <img src="/src/public/img/Clock.svg" alt="time">
                            20/10/2023
                        </div>
                    </div>
                    
                </div> --}}
                <div class="title">
                    {{Title}}
                </div>
                <img src="/src/public/img/Logo/Poster.svg" alt="poster"
                class="poster d-block mx-auto">
                <div class="tag d-flex justify-content-center">             
                    <div class="row">
                        <div class="col-md-6 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Pin.svg" alt="location"
                            class="mr-2">
                            {{this.JobDetailID.Location}}
                        </div>
                        <div class="col-md-6 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Clock.svg" alt="experiences"
                            class="mr-2">
                            {{this.JobDetailID.Experience}}
                        </div>
                        <div class="col-md-6 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Work.svg" alt="jobs type"
                            class="mr-2">
                            </i> {{this.JobType}}
                        </div>
                        <div class="col-md-6 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/menu-burger 1.svg" alt="specialization"
                            class="mr-2">
                            {{this.JobDetailID.Specialization}}
                        </div>
                        <div class="col-10 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Money.svg" alt="salary"
                            class="mr-2">
                            {{this.JobDetailID.Salary}}
                        </div>
                        <div class="col-10 mb-3 d-flex align-items-center">
                            <img src="/src/public/img/Relume.svg" alt="campany type"
                            class="mr-2">
                            {{this.JobDetailID.CompanyType}}
                        </div>
                    </div>        
                </div>
                <div class="content d-flex flex-column">
                    <span class="title">{{this.Title}}</span>
                    <div class="context description">
                        {{this.JobDetailID.Description}}
                    </div>
                    <span class="sub-title">1. Benefits</span>
                    <div class="context benefit">
                        {{this.JobDetailID.Benefit}}
                    </div>
                    <span class="sub-title">2. Requirements</span>
                    <div class="context requirement">
                        {{this.JobDetailID.Requirement}}     
                    </div>
                    <span class="sub-title">3. Hiring Process</span>
                    <div class="context hiring-process">
                       {{this.JobDetailID.HiringProcess}}
                    </div>
                    <span class="sub-title">4. How to Apply</span>
                    <div class="context apply">
                        {{this.JobDetailID.HowToApply}}
                    </div>
                    <button type="submit" class="btn btn-primary align-self-center">
                        Apply Now
                        <img src="/src/public/img/Chevron Right.svg" alt="arrow">
                    </button>  
                </div>
            </div>
        </div>
    </div>
</body>